<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p>&copy; {{ "today" | date: "%Y" }}</p>
            </div>

            <div class="footer-col">
                <p>
                    <a href="https://www.lemondededuralas.org/" target="_blank">Dùralas, Forum RPG</a>
                </p>
            </div>

            <div class="footer-col">
                <p>Ressources utiles</p>
            </div>
        </div>
    </div>
</footer>
