.postbody a { text-shadow : 0 0 3px #A4BC83}

a {
  text-decoration: none;
  transition:all 0.5s;

  &:hover {
    color:#FFF;
  }

  &[title="WebAnalytics"] {
    display: none;
  }

  &.forumlink {
    margin-top:-25px;
  }
}
