@import url('https://fonts.googleapis.com/css?family=Philosopher');

//region    -- Qui est en ligne ?
.wio {
  margin-top: 30px;

  &:hover {
    .cattitle {
      @extend .hover-surbrillance;
    }
  }

  .catHead {
    text-align: center;
  }
  .catHead,
  .cattitle {
    font-size: 22px;
    text-align: center;
  }

  .row1 {
    background-image: url("https://i.ibb.co/rsPnGGR/wio-content-texture.jpg");
  }
}
//endregion -- Qui est en ligne ?

// --------------------------------------------------

//region    -- Code
.code {
  padding: 15px;
  border-radius: 0 20px 0 20px;
  background: url('http://html-color.org/191D0F.jpg');
}
.selectCode {
  cursor: pointer;
  margin-right: 25px;
  float: right;
  font-size: 12px;
}
div.cont_code {
  clear: right;
}
//endregion -- Code

//region    -- Citation
.quote{
  padding: 15px;
  border-radius: 0 20px 0 20px;
  background: url('https://www.colorhexa.com/222816.png');
}
//endregion -- Citation
