$color: #DBCCA8;

//region    -- Factions
$color-congrégation_ombre: #6329BC;
$color-garde_zéphyr: #25AB37;
$color-gardiens: #E0CDA9;
$color-milice: #2971BC;
$color-khazariens: #5555CD;
$color-pirates: #52C9CB;
//endregion -- Factions
