$color: #DBCCA8;

//region    -- Races
$color-abyssal: #0091FF;
$color-djöllfulin: #FA5F3C;
$color-elfe: #0C8A1F;
$color-entomothrope: #E8BB84;
$color-géant: #D9D923;
$color-humain: #F00;
$color-hybride: #4D3A1A;
$color-naga: #9326C9;
$color-nain: #2B2BC2;
$color-peau-verte: #024F23;
$color-stryge-blanc: #FCFCFC;
$color-stryge-noir: #3D3D3D;
$color-thérianthrope: #AD6A05;
$color-vampire: #A10000;
//endregion -- Races

//region    -- Factions
$color-congrégation_ombre: #6329BC;
$color-garde_zéphyr: #25AB37;
$color-gardiens: #E0CDA9;
$color-milice: #2971BC;
$color-khazariens: #5555CD;
$color-pirates: #52C9CB;
//endregion -- Factions

//region    -- Classes
$color-arlequin: #540054a1;
$color-corrompu: #072b07;
$color-technophile: #0000ff82;
$color-virtuose: #d2691e;
//endregion -- Classes

//region    -- Guildes
$color-dragonniers: #535790;
$color-espion: #D00;
//endregion -- Guildes

//region    -- Groupes
$color-nordien: #4472C4;
//endregion -- Groupes

// --------------------------------------------------

//region    -- Créatures
$color-perrack: #663;
$color-skarnien: #603;
//endregion -- Créatures

//region    -- États & entités
$color-mort: #8A8585;

$color-pnj: #806B00;
//endregion -- États & entités
